In [10]:
a=int(input("enter the value"))
if a>90:
    print("Anil got grade A") 
if a>80 and a<=90:
     print("Anil got grade B")
if a>=60 and a<=80:
     print("Anil got grade C")
if a<60:
     print("Anil got grade D")

enter the value 100

Anil got grade A

In [8]:
CP=int(input("enter the cost price"))
if CP>100000:
    print("road tax paid is 15%")
if CP>50000 and CP<=100000:
    print("road tax paid is 10%")
if CP<=50000:
     print("road tax paid is 5%")

enter the cost price 65000

road tax paid is 10%

In [29]:
## accept any city from the user and display the monument of the city
city=input("enter the city")
if city=="Delhi":
    print("Red fort")
elif city=="Agra":
    print(" Taj Mahal")
elif city=="Jaipur":
    print("Jal mahal")
else:
    print("valid city")

enter the city Delhi

Red fort

In [41]:
## check how many times a given number can be divide by 3 before it is less than or equal to 10
a=int(input("enter the value"))
i=0
while a>10 and a%3==0:
    i=i+1
    a=a/3
print(i)

enter the value 81

2

In [53]:
# nested loop
n=7
for i in range(0,n):
    for j in range (0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [55]:
# nested loop 2
n=7
for i in range (0,n):
    for j in range (0,i+1):
        print("*",end=" ")
    print("\r")
for i in range (7,0,-1):
    for j in range (1,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [152]:
#nested loop 3
n=5
for i in range(n):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i):
        print("*",end=" ")
    for j in range (i+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [161]:
n=5
for i in range(n-1,-1,-1):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i+1):
        print("*",end=" ")
    for j in range (i):
        print("*",end=" ")
   
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [164]:
n=5
for i in range(n):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i):
        print("*",end=" ")
    for j in range (i+1):
        print("*",end=" ")
    print()
for i in range(n,-1,-1):
    for j in range (i,n):
        print(" ",end=" ")
    for j in range (i+1):
        print("*",end=" ")
    for j in range (i):
        print("*",end=" ")
   
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [34]:
# butterfly
n=7
for i in range (1,n):
    s="* " * i
    s1= "  " * (2*(n-i))
    print(s+ s1 +s)
#for i in range (n,n-1,-1):
for i in range (n,0,-1):
    s="* " * i
    s1= "  " * (2*(n-i))
    print(s+ s1 +s)

*                         *
* *                     * *
* * *                 * * *
* * * *             * * * *
* * * * *         * * * * *
* * * * * *     * * * * * *
* * * * * * * * * * * * * *
* * * * * *     * * * * * *
* * * * *         * * * * *
* * * *             * * * *
* * *                 * * *
* *                     * *
*                         *

In [53]:
#nested 6
n=5
for i in range (0,n):
    s=" *" * ((i*2)+1)
    print(s)

 *
 * * *
 * * * * *
 * * * * * * *
 * * * * * * * * *

In [69]:
# reverse a while loop from 10 to 1
n=11
while n!=0:
    n=n-1
    print(n)

10
9
8
7
6
5
4
3
2
1
0